
/* CSS Document */
* {
	padding:0;
	margin:0;
	border:0;
}
.btnProsseguir_2 {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 0;
}
.btnProsseguir_2:hover {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 -30px;
}
.btnGravar {
	background-image:url(../images/B_gravar.jpg);
	background-position:0 0;
	width:83px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
}
.btnGravar:hover {
	background-image:url(../images/B_gravar.jpg);
	background-position:0 -30px;
	width:83px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
}
#tudo {
	width:100%;
}
.clear {
	clear:both;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	line-height:15px;
	background-image:url(../images/site/bg.gif);
}

a:link {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a:visited {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	color:#374e78;
	text-decoration:underline;
	cursor:pointer;
}
a:active {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a.group2:link {
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
a.group2:visited {
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
a.group2:hover {
	color:#FFF;
	text-decoration:underline;
	cursor:pointer;
}
a.group2:active {
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
a.link_estatistica:link {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a.link_estatistica:visited {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a.link_estatistica:hover {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a.link_estatistica:active {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
.fonte26 {
	font-size:26px;
	color:#05255a;
}
.fonte28 {
	font-size:28px;
	font-weight:bold;
	color:#05255a;
}
.fonte21 {
	font-size:21px;
	color:#072e70;
}
.fonte18 {
	font-size:18px;
	color:#05255b;
}
.fonte37 {
	font-size:37px;
	color:#062963;
}
.fonteCinza {
	color:#383838;
}
.italico {
	font-style:italic;
}
.negrito {
	font-weight:bold;
}
.fonte15Preto {
	font-size:15px;
	font-weight:bold;
}
#contato2 input, select {
	padding:5px;
	background-color:#FFF;
	
}

#contato2 textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding:5px;
	background-color:#FFF;
}
.btnEnviar{
	background-image:url(../images/btn_enviar.jpg);
	width:80px;
	height:32px;
	border:none;
	cursor:pointer;	
}
#topo {
	width:100%;
	background-image: url(../images/site/topo.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
#topoInterno {
	width:980px;
	height:160px;
	margin:auto;
	position:relative;
}
#topoDados {
	width:100%;
	background-image:url(../images/site/topo_interno_2.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
#topoDadosInterno {
	height:52px;
}
#formLogin {
	width:400px;
	height:60px;
	float:right;
	margin:35px 20px 0 0;
}
#formLoginInterna {
	position:relative;
}
#inputFormLogin {
	width:140px;
	height:20px;
	position:absolute;
	left: 15px;
	top: 5px;
}
#inputFormLogin input {
	width:140px;
	border:none;
	background-color:transparent;
}
#inputFormSenha {
	width:140px;
	height:20px;
	position:absolute;
	left: 180px;
	top: 5px;
}
#inputFormSenha input {
	width:140px;
	border:none;
	background-color:transparent;
}
.btnLogar {
	width:58px;
	height:23px;
	background-image:url(../images/site/btnEntrar.png);
	border:none;
	cursor:pointer;
	background-color:transparent;
}
#inputFormEntrar {
	width:58px;
	height:23px;
	position:absolute;
	top:1px;
	left:335px;
}
#erroLogin {
	width:170px;
	height:25px;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	top:35px;
	left:8px;
}
#banner {
	width:100%;
	text-align:center;
}
#fundoSite {
	width:100%;
	background-color:#c4ccdd;
}
#fundoSiteInterna {
	width:980px;
	margin:auto;
	padding:25px 0;
}
.ladoEsq {
	width:630px;
	float:left;
	margin-left:50px;
}
#ladoDir {
	width:256px;
	height:226px;
	float:right;
	background-image:url(../images/site/fundoForm.jpg);
	background-repeat:no-repeat;
	position:relative;
}
#textoEsq {
	width:280px;
	float:left;
	margin:30px 0 0 0;
}
#textoEsq ul {
	padding:0 0 0 20px;
	margin:0;
}
#textoEsq ul li {
	list-style-image:url(../images/site/flexa.png);
	padding:15px 0;
}
#textoDir {
	width:280px;
	float:right;
	margin:30px 0 0 20px;
}
#textoDir ul li {
	list-style-image:url(../images/site/flexa.png);
	padding:15px 0;
}
#conteudo2 {
	width:980px;
	margin:auto;
	margin-bottom:30px;
}
#conteudo3 {
	width:980px;
	height:351px;
	margin:auto;
	position:relative;
}
#conteudo2 p {
	padding:10px 0;
}
#dadosConteudoEsq {
	width:650px;
	float:left;
	padding-top:20px;
	margin-left:50px;
}
#dadosConteudoDir {
	width:240px;
	float:right;
	padding-top:20px;
}
#conteudoDadosEsq {
	width:300px;
	float:left;
}
#conteudoDadosDir {
	width:300px;
	float:right;
	padding-left:20px;
}
#conteudoDadosDir ul {
	padding-left:10px;
}
#conteudoDadosDir ul li {
	padding:4px 0;
}
#chamadaCadastro {
	padding:20px;
}
#inputNome {
	width:185px;
	height:25px;
	position:absolute;
	left: 32px;
	top: 103px;
}
#inputNome input {
	width:185px;
	border:none;
	background-color:transparent;
	color:#173567;
}
#inputCNPJ {
	width:185px;
	height:25px;
	position:absolute;
	left: 32px;
	top: 104px;
}
#inputCNPJ input {
	width:185px;
	border:none;
	background-color:transparent;
	color:#173567;
}
#inputEmail {
	width:185px;
	height:25px;
	position:absolute;
	left: 33px;
	top: 138px;
}
#inputEmail input {
	width:185px;
	border:none;
	background-color:transparent;
	color:#173567;
}
.btnProsseguir {
	background-image:url(../images/site/btnProsseguir.png);
	height:32px;
	width:79px;
	border:none;
	cursor:pointer;
}
#prosseguir {
	height:32px;
	width:79px;
	position:absolute;
	left: 22px;
	top: 174px;
}
#dadosEsq {
	width:260px;
	float:left;
	margin-top:30px;
}
#dadosDir {
	width:711px;
	height:539px;
	float:right;
	padding-top:30px;
}
#dadosDirInterna {
	background-image:url(../images/site/fundoDadosCadastrais.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:711px;
	height:539px;
	padding-top:30px;
}
#dadosDirInterna2 {
	background-image:url(../images/site/fundoDadosCadastrais.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:711px;
	height:539px;
	padding-top:30px;
}
#tabGeral td {
	padding:2px;
}
#tabGeral {
	margin:45px 0 0 20px;
}
#politica_pricacidade {
	border:1px solid #828282;
	margin-bottom:10px;
}
#paddinEspaco{
	margin:30px 0 0 20px;	
}
#titulo_politica {
	background-color:#f5f5f5;
	padding:5px 0 10px 30px;
}
#internaPricacidade {
	padding:5px 10px;
	font-size:10px;
	height:350px;
	overflow:scroll;
}
#internaPricacidade p{
	margin:3px 0;
	padding:3px 0;	
}

#finalCadastro {
	border:1px solid #828282;
	background-color:#f2f6ff;
	text-align:center;
	padding:20px;
}
#linkFerramenta {
	width: 111px;
	height: 24px;
	position: absolute;
	left: 32px;
	top: 114px;
	display: block;
}
#linkRca {
	width: 55px;
	height: 24px;
	position: absolute;
	left: 300px;
	top: 113px;
	display: block;
}
#linkVantagens {
	width: 89px;
	height: 24px;
	position: absolute;
	left: 180px;
	top: 113px;
	display: block;
}
#linkArtigos {
	width: 70px;
	height: 24px;
	position: absolute;
	left: 384px;
	top: 112px;
	display: block;
}
#linkEstatisticas {
	width: 191px;
	height: 24px;
	position: absolute;
	left: 485px;
	top: 114px;
	display: block;
}
#linkBusca{
	width: 136px;
	height: 24px;
	position: absolute;
	top: 114px;
	widows: 100px;
	left: 709px;
}
#linkContato {
	width: 77px;
	height: 24px;
	position: absolute;
	left: 873px;
	top: 114px;
	display: block;
}
#imagemFerramenta1 {
	margin-top:30px;
}
#imagemFerramenta2 {
	margin-top:60px;
}

#vantagens{
	height:561px;
	background-position:center top;
	background-repeat:no-repeat;
	background-image:url(../images/bg_vantagens_03.jpg);	
	position:relative;
}
#chamada{
	padding:20px 0 0 0;	
}
#linkHome{
	width:192px;
	height:41px;
	position:absolute;
	left: 32px;
	top: 24px;
}
#rca1{
	
	margin-top:30px;	
}
#linhaRCA{
	height:351px;
	width:100%;
	background-image:url(../images/fundoRCA.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:#FFF;	
}
#rca2{
	background-image:url(../images/site/RCA_06.jpg);
	height:290px;
	background-position:center top;
	background-repeat:no-repeat;	
}
#rca3{
	width:980px;
	margin:auto;
	padding-top:20px;
	margin-bottom:50px;
}
#artigos{
	width:220px;
	margin-top:40px;
	padding:0 20px 0 20px;
	float:left;
}
#textoArtigos{
	margin:20px 0; 
	width:220px;	
}
#conteudoArtigo{
	width:600px;
	float:right;
	background-image:url(../images/site/ARTIGOS_10.jpg);
	background-repeat:repeat-y;
	padding:30px 50px;
	position:relative;	
}
#conteudoArtigos{
	width:980px;
	margin:auto;
}
#conteudoArtigo p{
	padding:10px 0;	
}

#contato1{
	height:503px;
	width:325px;
	float:left;	
	margin-top:40px;
}
#contato2{
	width:502px;
	
	float:right;
	margin-top:40px;

}
.fonte18{
	font-size:18px;
	color:#05255b;	
}
#tab_contato td{
	padding:5px 0;	
}
#dadosFerramenta1Esq{
	width:480px;
	float:left;
}
#dadosFerramenta1Dir{
	width:465px;
	float:right;
}
.imgEsq{
	width:185px;
	float:left;
	padding:0 10px 10px 0;	
}
.imgDir{
	width:227px;
	float:right;
	padding:0 10px 0 10px;	
}
#dadosPasso{
	width:755px;
	float:right;
	margin-top:20px;	
}
#gerenciamento{
	background-image:url(../images/site/fundo_passo_3.jpg);
	width:755px;
	height:336px;
	background-repeat:no-repeat;
	background-position:center top;
	position:relative;
	float:right;
	margin-top:20px;
	margin-bottom:40px;
}
#dadosPasso1{
	background-image:url(../images/site/bg_ferramenta_p_1.jpg);
	width:755px;
	height:188px;
	background-repeat:no-repeat;
	background-position:center top;
	position:relative;
	float:right;
	margin-top:20px;	
}
#dadosPasso2{
	background-image:url(../images/site/bg_ferramenta_p_2.jpg);
	width:755px;
	height:188px;
	background-repeat:no-repeat;
	background-position:center top;
	position:relative;
	float:right;
	margin-top:20px;	
}
#dadosPasso3{
	background-image:url(../images/site/bg_ferramenta_p_3.jpg);
	width:755px;
	height:188px;
	background-repeat:no-repeat;
	background-position:center top;
	position:relative;
	float:right;
	margin-top:20px;	
}
#flexaPasso{
	text-align:center;
}
#topDadosPassos{
	background-image:url(../images/site/A-FERRAMENTA_35.jpg);
	height:4px;	
}
#nomePasso{
	width:127px;
	float:left;	
	padding-left:30px;
	margin-top:20px;
}
#conteudoPasso{
	background-image:url(../images/site/A-FERRAMENTA_37.jpg);
	background-repeat:repeat-y;	
	padding:20px;
	height:83px;
}

#dadosConteudoEsqInter{
	width:270px;
	float:left;
}
#dadosConteudoDirInter{
	width:430px;
	float:right;
}
#imgUser1{
	width:62px;
	float:left;	
}
#imgUser2{
	width:200px;
	float:right;	
}
#imgUser2 p{
	padding:5px 0;	
}
#imgUserDir2{
	width:360px;
	float:right;	
}
#imgUserDir2 p{
	padding:5px 0;	
}
.vermelhorImportante{
	font-weight:bold;
	color:#F00;		
}
#img_clic_1{
	width:196px;
	height:118px;
	position:absolute;
	left:312px;
	top: 23px;
}
#img_clic_2{
	width:196px;
	height:118px;
	position:absolute;
	left:525px;
	top: 23px;
}
#img_clic_3{
	width:196px;
	height:118px;
	position:absolute;
	left:136px;
	top: 168px;
}
#img_clic_4{
	width:196px;
	height:118px;
	position:absolute;
	left:470px;
	top: 170px;
}
#clique_ampliar{
	position:absolute;
	height:15px;
	width:120px;
	left: 347px;
	top: 150px;		
}
#clique_ampliar_2{
	position:absolute;
	height:15px;
	width:120px;
	left: 571px;
	top: 150px;
}
#clique_ampliar_3{
	position:absolute;
	height:15px;
	width:120px;
	left: 180px;
	top: 297px;
}
#clique_ampliar_4{
	position:absolute;
	height:15px;
	width:120px;
	left: 514px;
	top: 296px;
}
#texto_passo_1{
	width:194px;
	height:150px;
	position:absolute;
	left: 106px;
	top: 21px;
}
#texto_passo_2{
	width:200px;
	height:150px;
	position:absolute;
	left: 100px;
	top: 11px;
}
#texto_passo_2 p{
	padding:5px 0;	
}
#texto_passo_3{
	width:200px;
	height:150px;
	position:absolute;
	left: 531px;
	top: 28px;
}
#texto_passo_1 ul{
	margin-left:15px;	
}
#textoCenter{
	text-align:right;
	padding-right:15px;	
}
.fonte14Cinza{
	font-size:14px;
	color:#383838;	
}
.fonte14Azul{
	font-size:14px;
	font-weight:bold;
	color:#072e70;	
}
#texto_analise{
	width:204px;
	height:109px;
	position:absolute;
	left: 133px;
	top: 58px;
}
#acoes_ferramentas{
	width:256px;
	height:100px;
	position:absolute;
	left: 471px;
	top: 59px;
}
#simplicada{
	width:128px;
	height:45px;
	position:absolute;
	text-align:center;
	left: 192px;
	top: 209px;
}

#simplicada_2{
	width:189px;
	height:80px;
	position:absolute;
	top:239px;
	left: 129px;
	text-align:center;
}
#filtros{
	width:112px;
	height:50px;
	position:absolute;
	text-align:center;
	left: 500px;
	top: 107px;
}
#filtros_2{
	width:135px;
	height:88px;
	position:absolute;
	text-align:center;
	top:136px;
	left: 472px;
}
#relatorios_click{
	width:164px;
	height:50px;
	position:absolute;
	text-align:center;
	left: 480px;
	top: 386px;
}
#relatorios_click_2{
	width:205px;
	height:50px;
	position:absolute;
	text-align:center;
	top:415px;
	left: 428px;
}
#controle_indicadores{
	width:146px;
	height:50px;
	position:absolute;
	text-align:center;
	left: 772px;
	top: 263px;
}
#controle_indicadores_2{
	width:194px;
	height:50px;
	position:absolute;
	text-align:center;
	top:278px;
	left: 732px;
}
#textoContato{
	padding:10px 0;	
}

#linkArtigosTexto{
	margin-bottom:20px;	
}

#linkArtigosTexto p{
	padding:2px 0;	
}
.linhaArtigo{
	text-align:center;
	margin-top:7px;	
}

a.artigo16:link {
	color:#ff6000;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
a.artigo16:visited {
	color:#ff6000	;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
a.artigo16:hover {
	color:#ff6000	;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
a.artigo16:active {
	color:#ff6000	;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}

a.artigo14:link {
	color:#383838;
	font-size:14px;
	text-decoration:none;
}
a.artigo14:visited {
	color:#383838;
	font-size:14px;
	text-decoration:none;
}
a.artigo14:hover {
	color:#383838;
	font-size:14px;
	text-decoration:none;
}
a.artigo14:active {
	color:#383838;
	font-size:14px;
	text-decoration:none;
}
#chamada_1{
	width:100px;
	height:32px;
	position:absolute;
	left: 67px;
	top: 87px;
}
#texto_1{
	width:100px;
	height:78px;
	position:absolute;
	left: 66px;
	top: 133px;
}
#chamada_2{
	width:100px;
	height:48px;
	position:absolute;
	left: 212px;
	top: 88px;
}
#texto_2{
	width:100px;
	height:160px;
	position:absolute;
	left: 210px;
	top: 150px;
}
#chamada_3{
	width:100px;
	height:48px;
	position:absolute;
	left: 369px;
	top: 88px;
}
#texto_3{
	width:100px;
	height:160px;
	position:absolute;
	left: 369px;
	top: 150px;
}
#chamada_4{
	width:100px;
	height:48px;
	position:absolute;
	left: 520px;
	top: 88px;
}
#texto_4{
	width:100px;
	height:160px;
	position:absolute;
	left: 520px;
	top: 150px;
}
#chamada_5{
	width:100px;
	height:48px;
	position:absolute;
	left: 672px;
	top: 88px;
}
#texto_5{
	width:100px;
	height:160px;
	position:absolute;
	left: 672px;
	top: 150px;
}
#chamada_6{
	width:100px;
	height:48px;
	position:absolute;
	left: 827px;
	top: 88px;
}
#texto_6{
	width:100px;
	height:160px;
	position:absolute;
	left: 827px;
	top: 150px;
}
#artigos_ul{
	margin-left:30px;	
}
#esqueceu_senha{
	width: 146px;
	height: 21px;
	position: absolute;
	color: #FFF;
	left: 263px;
	top: 37px;
}
/* 19/12/2012 */
#input_busca{
	background-image:url(../images/site/campo_busca.jpg);
	background-repeat:no-repeat;
	width:216px;
	height:34px;	
}
#input_busca input{
	border:none;
	background-color:transparent;
	padding:2px;
	margin:8px 0 0 7px;
	width:190px;
}
#envia_busca{
	background-image:url(../images/site/btn_busca.jpg);
	width:80px;
	height:33px;
	margin-top:19px;
	background-repeat:no-repeat;	
}
#envia_busca input{
	width:80px;
	height:33px;
	border:none;
	background-color:transparent;
	cursor:pointer;		
}
#campo_busca{
	background-image:url(../images/site/campo_busca.jpg);
	width:216px;
	height:34px;
	float:left;
	margin-top:30px;
	background-repeat:no-repeat;
}
#campo_busca input{
	border:none;
	background-color:transparent;
	padding:2px;
	margin:6px 0 0 7px;
	width:187px;
	color:#395e98;	
}
#envia_busca_int{
	background-image:url(../images/site/btn_busca.jpg);
	background-repeat:no-repeat;
	width:80px;
	height:33px;
	margin:30px 0 0 10px;
	float:left;	
}
#envia_busca_int input{
	width:80px;
	height:33px;
	border:none;
	background-color:transparent;
	cursor:pointer;		
}
#busca_analise_int{
	margin-top:35px;	
}
#resultados{
	font-size:14px;
	color:#010101;
	margin:25px 0 15px 10px;	
}
#tab_busca tr td{
	border-bottom:1px solid #c6c6c9;
}
#tab_busca tr td{
	padding:10px;	
}
#tab_busca p{
	padding:1px 0;	
}
#tabela_busca{
	margin-top:10px;	
}
.fonte_16{
	font-size:16px;
	color:#072e70;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-1px;	
}
#linha_divisoria{
	text-align:center;	
}
a.link_busca:link {
	text-decoration:none;
}
a.link_busca:visited {
	text-decoration:none;
}
a.link_busca:hover {
	text-decoration:underline;
}
a.link_busca:active {
	text-decoration:none;
}
.fonte_preta{
	color:#000 !important;	
}
#tab_estatisticas tr td{
	padding:10px;	
}
.fonte14_branca{
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	letter-spacing:-1px;
}
#tab_busca_Esq{
	width:100%;
	/*float:left;*/	
}
#filtro_familia{
	width:260px;
	float:right;	
}
.fundo_tab{
	background-color:#e0e3ec;
}
.fonte14{
	font-size:14px;	
}
#filtro_box{
	background-color:#073074;
	color:#FFF;
	height:34px;	
	cursor:pointer;
}
#flecha_filtro{
	background-image:url(../images/site/flecha_estatistica.png);
	width:10px;
	height:7px;
	float:right;
	margin:13px 13px 0 0;	
}
#texto_filtro{
	float:right;
	text-align:left;
	font-weight:bold;
	font-size:14px;
	margin:9px 10px 0 0 ;	
}
#lista_familia{
	background-color:#dde0e9;
	padding:10px;
		
}
#lista_familia ul{
	margin:0;
	padding:0;
}
#lista_familia ul li{
	list-style:none;
	padding:10px 5px;	
}
#lista_familia ul li:hover{
	background-color:#415f92;	
	color:#FFF;
}
#rodape{
	background-image:url(../images/site/rodape.jpg);
	width:100%;
	background-position:center top;	
}
#rodape2{
	background-image:url(../images/site/rodape.jpg);
	width:100%;
	background-position:center top;	
	position:fixed;
	bottom:0;
}
#rodape_interno{
	height:88px;
	width:980px;
	margin:auto;
	position:relative;	
}
#marca_gh{
	width: 65px;
	height: 15px;
	position: absolute;
	right: 41px;
	bottom: 7px;
	display: block;
}
#menu_inferior{
	width:980px;
	height:20px;
	position:absolute;
	top:20px;
	color:#FFF;	
}
.email_contato{
	float:left;	
	margin-left:52px;
}
.menu_inferior_link{
	float:right;
	margin-left:5px;
}
#btn_1{
	margin-top:29px;	
}
#autocomplete{
	width:200px;
	padding:7px;
	border:1px solid #CCC;	
}
#envia_form{
	background-image:url(../images/btn_buscar_estatisticas.jpg);
	width:31px;
	height:31px;
	background-repeat:no-repeat;
	cursor:pointer;	
}
.left{
	float:left;
	margin-right:5px;	
}
#busca_por{
	
}
.aviso_busca{	
	text-align:right;
	 margin: 9px 15px 0 0;
}
div#textoTelefone img {
  float: left;
  margin-left: 4px;
}

div#textoTelefone p {
  margin-left: 56px;
  font-size: 14px;
  color: #033A7C;
}