@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	line-height:15px;	
	background-image:url(images/site/bg3.gif);
}
input, select {
	padding:5px;
	background-color:#FFF;
	border:1px solid #898989;
}
textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding:5px;
	background-color:#FFF;
	border:1px solid #898989;
}