@charset "utf-8";
/* CSS Document */
/* GERAIS */
.blt, .bLeft, .bTop, .bAll{-webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px;}
.blb, .bLeft, .bBottom, .bAll{-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;border-bottom-left-radius:10px;}
.brt, .bRight, .bTop, .bAll{-webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px;}
.brb, .bRight, .bBottom, .bAll{-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px;}
.borderLessLeft{border-left: none !important;}
.borderLessRight{border-right: none !important;}
.borderHLLeft{border-left: 1px solid #CCCCCC !important;}
.borderHLRight{border-right: 1px solid #CCCCCC !important;}
.clear {
	clear:both;
}
p {
	margin:10px 0;
}
input, select {
	padding:5px;
	background-color:#FFF;
	border:1px solid #898989;
	outline: 0;
}
input[type=checkbox] {
    outline: 0;
    border: 0;
}
textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px !important;
	color:#000;
	padding:5px;
	background-color:#FFF;
	border:1px solid #898989;
}
.clear {
	clear:both;
}
.loader {
	background-image:url(../images/upload/uploading.gif);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin:auto;
}
/* FIM GERIAS */
/* FONTES */
.negrito {
	font-weight:bold;
}
.fonte13 {
	font-size:13px;
	color:#000;
	font-weight:bold;
}
.fonte37 {
	font-size:37px;
	color:#062963;
	line-height:35px;
}
.fonte14 {
	font-size:14px;
	color:#212121;
}
.fonte15 {
	font-size:15px;
	color:#060606;
	text-transform:uppercase;
	font-weight:bold;
}
.fonte15Branca {
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
}
.branca {
	color:#FFF;
}
.fonte14Negrito {
	font-size:14px;
	font-weight:bold;
}
.fonte12Azul {
	text-transform:uppercase;
	color:#35558b;
}
.fonte17 {
	font-size:17px;
}
#resultadoTotal {
	text-align:center;
}
#pontuacao_total{
	text-align:center;
	margin-top:15px;	
}
#legenda{
	padding-left:10px; 	
}
#legenda td {
	font-size:11px;
	padding-right:3px;
}
#cor1 {
	width:10px;
	height:10px;
	background-color:#edc240;
}
#cor2 {
	width:10px;
	height:10px;
	background-color:#afd8f8;
}
#cor3 {
	width:10px;
	height:10px;
	background-color:#cb4b4b;
}
#cor4 {
	width:10px;
	height:10px;
	background-color:#4da74d;
}
#cor5{
	width:10px;
	height:10px;
	background-color:#9440ed;	
}

/* FIM FONTES */
/* TEAMPLATE */
#tudo {
    background-image: url("../images/topo_new.jpg");
    background-position: right top;
    background-repeat: repeat-x;
    min-width: 990px;
    position: relative;
    width: 100%;
}
#topo {
	width:980px;
	margin:auto;
	height:166px;
	position:relative;
}
#marcaEmpresa {
	width:85px;
	height:85px;
	position:absolute;
	border:1px solid #83827e;
	top:65px;
	left: 0;
	z-index:1;
}
#dadosEmpresa {
	width:557px;
	height:70px;
	position:absolute;
	left: 104px;
	top: 65px;
	z-index:1;
}
#dadosGerais {
	/*border:1px solid #969696; */
	background-image:url(../images/botoes_35.jpg);
	background-repeat:repeat-y;
}
#dadosGeraisBotton{
	background-image:url(../images/botoes_42.jpg);
	height:11px;
	background-repeat:no-repeat;	
}
.fundoChamadaBox {
	height:27px;
	background-image:url(../images/botoes_15.jpg);
	background-repeat:no-repeat;
	text-align:center;
	font-size:14px;
	color:#072e70;
	padding-top:9px;
	font-weight:bold;
}
.fundoChamadaBoxG{
	background-image:url(../images/botoes_03.jpg);
	height:26px;
	background-repeat:no-repeat;
	text-align:center;
	font-size:14px;
	color:#072e70;
	padding-top:9px;
	font-weight:bold;
	/*margin-top:15px;*/
}
#avisosImportantes {
	background-image:url(../images/botoes_35.jpg);
	background-repeat:repeat-y;
}
#fundoChamadaAviso {
	height:25px;
	background-image:url(../images/botoes_17.jpg);
	background-repeat:no-repeat;
	text-align:center;
	font-size:14px;
	color:#072e70;
	padding-top:9px;
	font-weight:bold;
	margin-top:20px;
}
#conteudoAviso {
	padding:15px;
}
#avisoNovasAcoes {
	width:640px;
	height:45px;
	background-image:url(../images/sinalAlerta.jpg);
	background-repeat:no-repeat;
	margin:15px 0;
	padding:17px 0 0 70px;
}
#boxPesquisa {
	background-image:url(../images/botoes_06.jpg);
	background-repeat:repeat-y;
	height:35px;
}
#boxPesquisaBotton{
	background-image:url(../images/botoes_08.jpg);
	background-repeat:no-repeat;
	height:9px;	
	margin-bottom:15px;
}
#boxPesquisa2{
	background-image:url(../images/botoes_06.jpg);
	background-repeat:repeat-y;
}
#box {
	background-image:url(../images/botoes_06.jpg);
	background-repeat:repeat-y;
}
#fundoTab {
	width:688px;
	height:26px;
	background-image:url(../images/bgTab.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
#tabAnalise td {
	padding:5px;
	border-bottom:1px dashed #CCC;
}
#tabAnexo_2{
	margin-top:20px;	
}
#tabAnexo_2 td{
	padding:5px;
	border-bottom:1px dashed #CCC;
}
#tabAnalise2 {
	margin-bottom:15px;
}
#tabAnalise2 td {
	padding:5px;
	border-bottom:1px dashed #CCC;
}
#tabAnalise input {
	border:none;
	padding:2px;
	margin:0;
	background-color:transparent;
}
#tabAnalise2 input {
	border:none;
	padding:2px;
	margin:0;
	background-color:transparent;
}
/*.nivelPrioridade{
	width:11px;
	float:right;
	padding:3px 30px 0 0;	
}
.letraPrioridade{
	width:20px;
	float:left;
	padding-left:20px;	
}*/
#conteudoPesquisa {
	padding:10px;
}
#conteudoPesquisa2 {
	padding:10px;
}
ul.menuPesquisa {
	position:relative;
	z-index:1;
	font-size:13px;
	color:#1a1a1a;
}
ul.menuPesquisa li {
	list-style:none;
	vertical-align:middle;
}
ul.menuPesquisa ul {
	visibility: hidden;
}
ul.menuPesquisa li:hover > ul {
	visibility: visible !important;
}
ul.menuPesquisa li.subPesquisa {
	min-width:200px;
	background-color:#f6f1e8;
	padding:5px;
	color:#1a1a1a;
}
ul.menuPesquisa li.subPesquisa:hover {
	min-width:200px;
	background-color:#D8D8D8;
	padding:5px;
	color:#062c6b;
}
ul.menuPesquisa ul {
	padding-top:5px;
}
ul.menuPesquisa li#unidadeFabril {
	width:100px;
	height:12px;
	position:absolute;
	top:5px;
	left:5px;
	background-image:url(../images/iconeSelect.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	cursor:pointer;
}
ul.menuPesquisa li#unidadeFabril:hover {
	width:100px;
	height:12px;
	position:absolute;
	top:5px;
	left:5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	color:#062c6b;
	cursor:pointer;
}
ul.menuPesquisa li#linhaProducao {
	width:125px;
	height:12px;
	position:absolute;
	background-image:url(../images/iconeSelect.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	left:128px;
	top: 5px;
	cursor:pointer;
}
ul.menuPesquisa li#linhaProducao:hover {
	width:125px;
	height:12px;
	position:absolute;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	left:128px;
	top: 5px;
	color:#062c6b;
	cursor:pointer;
}
ul.menuPesquisa li#equipamento {
	width:92px;
	height:12px;
	position:absolute;
	left:278px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#equipamento:hover {
	width:92px;
	height:12px;
	position:absolute;
	left:278px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#situacaoAnalise {
	width:133px;
	height:12px;
	position:absolute;
	left:392px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#situacaoAnalise:hover {
	width:133px;
	height:12px;
	position:absolute;
	left:392px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#prioridade {
	width:135px;
	height:12px;
	position:absolute;
	left:546px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#prioridade:hover {
	width:135px;
	height:12px;
	position:absolute;
	left:546px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
#separacao1 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:115px;
	top:0;
}
#separacao2 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:265px;
}
#separacao3 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:380px;
}
#separacao4 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:535px;
}
ul.menuPesquisa li#unidadeFabril_acao {
	width:100px;
	height:12px;
	position:absolute;
	top:5px;
	left:5px;
	background-image:url(../images/iconeSelect.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	cursor:pointer;
}
ul.menuPesquisa li#unidadeFabril_acao:hover {
	width:100px;
	height:12px;
	position:absolute;
	top:5px;
	left:5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	color:#062c6b;
	cursor:pointer;
}
ul.menuPesquisa li#linhaProducao_acao {
	width:125px;
	height:12px;
	position:absolute;
	background-image:url(../images/iconeSelect.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	left:130px;
	top: 5px;
	cursor:pointer;
}
ul.menuPesquisa li#linhaProducao_acao:hover {
	width:125px;
	height:12px;
	position:absolute;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	left:130px;
	top: 5px;
	color:#062c6b;
	cursor:pointer;
}
ul.menuPesquisa li#equipamento_acao {
	width:92px;
	height:12px;
	position:absolute;
	left:274px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#equipamento_acao:hover {
	width:92px;
	height:12px;
	position:absolute;
	left:274px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#titulo_acao {
	width:50px;
	height:12px;
	position:absolute;
	left:381px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#titulo_acao:hover {
	width:50px;
	height:12px;
	position:absolute;
	left:381px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#responsavel_acao {
	width:90px;
	height:12px;
	position:absolute;
	left:448px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#responsavel_acao:hover {
	width:90px;
	height:12px;
	position:absolute;
	left:448px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#situacaoAnalise_acao {
	width:67px;
	height:12px;
	position:absolute;
	left:555px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#situacaoAnalise_acao:hover {
	width:67px;
	height:12px;
	position:absolute;
	left:555px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
ul.menuPesquisa li#prioridade_acao {
	width:72px;
	height:12px;
	position:absolute;
	left:610px;
	top: 5px;
	background-image:url(../images/iconeSelect.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}
ul.menuPesquisa li#prioridade_acao:hover {
	width:72px;
	height:12px;
	position:absolute;
	left:610px;
	top: 5px;
	background-image:url(../images/iconeSelectAtivo.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
	color:#062c6b;
}
#separacao_acao1 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:117px;
	top:0;
}
#separacao_acao2 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:265px;
}
#separacao_acao3 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:373px;
}
#separacao_acao4 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:545px;
}
#separacao_acao5 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:439px;
}
#menuTop {
	width:100%;
	height:101px;
	background-image:url(../images/bgMenu2.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	position:absolute;
	top:133px;
}
#separacao_acao6 {
	width:1px;
	height:26px;
	background-image:url(../images/linhaSeparacao.jpg);
	background-repeat:no-repeat;
	position:absolute;
	left:630px;
}
#menuTopItem {
	width:971px;
	margin:auto;
	text-align:right;
	padding-right:9px;
}
/* MENU */
ul.intemInternoMenu {
	width:980px;
	position: relative;
	z-index: 597;
	float: left;
}
ul.intemInternoMenu, ul.intemInternoMenu li, ul.intemInternoMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.intemInternoMenu {
	width:794px;
	position: relative;
	z-index: 597;
	float: right;/*color:#FFF;*/
}
ul.intemInternoMenu li {
	float: left;
	vertical-align: middle;
	zoom: 1;
}
ul.intemInternoMenu li.hover, ul.intemInternoMenu li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
ul.intemInternoMenu ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 599;
	width: 100%;
}
ul.intemInternoMenu ul li {
	float: none;
}
ul.intemInternoMenu ul ul {
	/*top: 1px;*/
	left: 99%;
}
ul.intemInternoMenu li:hover > ul {
	visibility: visible;
}
ul.intemInternoMenu ul {
	padding-top:5px;
}
#bordaSubMenu {
	width:187px;
	border:1px solid #CCC;
}
ul.intemInternoMenu li.sub {
	width:177px;
	text-align:left;
	padding: 5px;
	position:relative;
	background-color:#f6f1e8;
}
ul.intemInternoMenu li.sub.hover, ul.intemInternoMenu li.sub:hover {
	width:177px;
	text-align:left;
	padding: 5px;
	position:relative;
	background-color:#CCC;
}
ul.intemInternoMenu li#menuInicial {
	cursor:pointer;
	width:113px;
	height:30px;
	margin:2px 0 0 1px;
	padding:0;
	border:none;
	background-image:url(../images/menu_03_teste.png);
	background-position:0 0;
	position:relative;
	text-align:center;
	display:block;
}
ul.intemInternoMenu li#menuInicial:hover {
	cursor:pointer;
	width:113px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_03_teste.png);
	background-repeat:no-repeat;
	background-position:0 -31px;
	display:block;
}
ul.intemInternoMenu li#menuInicialAtivo {
	cursor:pointer;
	width:113px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_03.png);
	background-repeat:no-repeat;
	background-position:0 -31px;
	display:block;
}
ul.intemInternoMenu li#menuAnalise {
	cursor:pointer;
	width:176px;
	height:30px;
	margin:2px 0 0 1px;
	background-image: url(../images/menu_05_teste.png);
	background-position:0 0;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	display:block;
}
ul.intemInternoMenu li#menuAnalise:hover {
	cursor:pointer;
	width:176px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_05_teste.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuAnaliseAtivo {
	cursor:pointer;
	width:176px;
	height:31px;
	margin:2px 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_05-05_03.png);
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
}


ul.intemInternoMenu li#menuAnalise_2 {
	cursor:pointer;
	width:148px;
	height:30px;
	margin:2px 0 0 1px;
	background-image:url(../images/gerenciar_analises_03.png);
	background-position:0 0;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	display:block;
}
ul.intemInternoMenu li#menuAnalise_2:hover {
	cursor:pointer;
	width:148px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/gerenciar_analises_03.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuAnaliseAtivo_2 {
	cursor:pointer;
	width:148px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/gerenciar_analises_05.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuAcoes {
	cursor:pointer;
	width:148px;
	height:30px;
	margin:2px 0 0 1px;
	background-image:url(../images/menu_acoes.png);
	background-position:0 0;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	display:block;
}
ul.intemInternoMenu li#menuAcoes:hover {
	cursor:pointer;
	width:148px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_acoes.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuAcoesAtivo {
	cursor:pointer;
	width:148px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_07.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuDados {
	cursor:pointer;
	width:143px;
	height:30px;
	margin:2px 0 0 1px;
	background-image:url(../images/menu_dados_cadastro.png);
	background-position:0 0;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	display:block;
}
ul.intemInternoMenu li#menuDados:hover {
	cursor:pointer;
	width:143px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_dados_cadastro.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}
ul.intemInternoMenu li#menuDadosAtivo {
	cursor:pointer;
	width:143px;
	height:31px;
	margin:0 0 0 1px;
	padding:0;
	border:none;
	position:relative;
	text-align:center;
	background-image:url(../images/menu_09.png);
	background-position:0 -31px;
	background-repeat:no-repeat;
	display:block;
}

/* FIM MENU */
#geral {
	width:980px;
	margin: -100px auto;
	position:relative;
	z-index:1;
	padding-top:20px;
}
#menuLat {
	width:248px;
	float:left;
	padding-top:10px;
}
#conteudo {
	width:711px;
	float:right;
	padding-top:10px;
}
#alterar {
	margin-bottom:30px;
}
/* FIM TEAMPLATE */
/* LINKS */
a:link {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a:visited {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	color:#374e78;
	text-decoration:underline;
	cursor:pointer;
}
a:active {
	color:#374e78;
	text-decoration:none;
	cursor:pointer;
}

a.evidencia_diagramas:link {
	color:#ff9500;
	text-decoration:none;
	font-size:16px;
}
a.evidencia_diagramas:visited {
	color:#ff9500;
	text-decoration:none;
	font-size:16px;
}
a.evidencia_diagramas:hover {
	color:#ff9500;
	text-decoration:underline;
	font-size:16px;
}
a.evidencia_diagramas:active {
	color:#ff9500;
	text-decoration:none;
	font-size:16px;
}

/* Páginação */
.branco {
	color:#FFF;
	border:1px solid #062963;
	padding:3px;
	margin:2px;
	background-color:#062963;
	text-decoration:none;
}
a.paginacao:link {
	color:#000;
	text-decoration:none;
	padding:3px;
	margin:2px;
}
a.paginacao:visited {
	color:#000;
	text-decoration:none;
	padding:3px;
	margin:2px;
}
a.paginacao:hover {
	color:#666;
	text-decoration:none;
	padding:3px;
	margin:2px;
}
a.paginacao:active {
	color:#000;
	text-decoration:none;
	padding:3px;
	margin:2px;
}
#paginacao {
	text-align:center;
	padding-top:30px;
	padding-bottom:20px;
}
/*a.btnEditaLink:link {
	color:#212121;
	text-decoration:none;
	font-size:14px;
}
a.btnEditaLink:visited {
	color:#212121;
	text-decoration:none;
	font-size:14px;
}
a.btnEditaLink:hover {
	color:#212121;
	text-decoration:underline;
	font-size:14px;
}
a.btnEditaLink:active {
	color:#212121;
	text-decoration:none;
	font-size:14px;
}*/

a.btnPassoLink:link {
	color:#000;
	text-decoration:none;
}
a.btnPassoLink:visited {
	color:#000;
	text-decoration:none;
}
a.btnPassoLink:hover {
	color:#FFF;
	text-decoration:none;
}
a.btnPassoLink:active {
	color:#000;
	text-decoration:none;
}
/* FIM LINKS */
/* INDEX - PÁGINA LOGIN */
.btnAzul {
	background-color:#305188;
	border:none;
	text-align:center;
	padding:5px;
	font-size:16px;
	color:#FFF;
	cursor:pointer;
}
.btnGravaProsseguir {
	width:83px;
	height:30px;
	background-image:url(../images/B_gravar.jpg);
	cursor:pointer;
	background-position: 0 0;
	margin-bottom:30px;
	border:none;
	padding:0;
	margin:0;
}
.btnGravaProsseguir:hover {
	width:83px;
	height:30px;
	background-image:url(../images/B_gravar.jpg);
	cursor:pointer;
	background-position:0 -30px;
	margin-bottom:30px;
	border:none;
	padding:0;
	margin:0;
}
.btnGravar {
	width:83px;
	height:30px;
	background-image:url(../images/B_gravar.jpg);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
	background-position: 0 0;
	margin-bottom:30px;
	border:none;
	padding:0;
	margin:0;
}
.btnGravar:hover {
	width:83px;
	height:30px;
	background-image:url(../images/B_gravar.jpg);
	cursor:pointer;
	background-position:0 -30px;
	margin-bottom:30px;
	border:none;
	padding:0;
	margin:0;
}
.btnProsseguir {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 0;
}
.btnProsseguir:hover {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 -30px;
}
.btnCadastraEquipe{
	background-image:url(../images/botoes_29.jpg);
	width:183px;
	height:30px;
	background-position:0 0;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	
}
.btnCadastraEquipe:hover{
	background-image:url(../images/botoes_29.jpg);
	width:183px;
	height:30px;
	background-position:0 -30px;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
.btnCadastraEquipamento{
	background-image:url(../images/botoes_47.jpg);
	width:216px;
	height:30px;
	background-position:0 0;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
.btnCadastraEquipamento:hover{
	background-image:url(../images/botoes_47.jpg);
	width:216px;
	height:30px;
	background-position:0 -30px;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
.btnCadastraFamilia{
	background-image:url(../images/botoes_40.jpg);
	width:282px;
	height:30px;
	background-position:0 0;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	
}
.btnCadastraFamilia:hover{
	background-image:url(../images/botoes_40.jpg);
	width:282px;
	height:30px;
	background-position:0 -30px;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
.btnCadastraLinha{
	background-image:url(../images/botoes_38.jpg);
	width:243px;
	height:30px;
	background-position:0 0;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	
}
.btnCadastraLinha:hover{
	background-image:url(../images/botoes_38.jpg);
	width:243px;
	height:30px;
	background-position:0 -30px;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
.btnCadastraUnidades{
	background-image:url(../images/botoes_31.jpg);
	width:220px;
	height:30px;
	background-position:0 0;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	
}
.btnCadastraUnidades:hover{
	background-image:url(../images/botoes_31.jpg);
	width:220px;
	height:30px;
	background-position:0 -30px;	
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
}
/* FIM INDEX */
/* ANÁLISE */
#textoAnalise {
	width:250px;
	float:left;
	margin-top:25px;
}
#formAnaliseDir {
	width:711px;
	float:right;
	margin-top:35px;
}
#formAnalise {
	margin-bottom:20px;
}
#formTopAnalise {
	background-image:url(../images/1.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	height:10px;
}
#internoForm {
	background-image:url(../images/2.jpg);
	background-repeat:repeat-y;
	padding:0 10px;
	position:relative;
}
#rodapeFormAnalise {
	background-image:url(../images/3.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	height:10px;
}
#formAnalise2 {
	background-image:url(../images/botoes_06.jpg);
	background-repeat:repeat-y;
}
#formAnalise3 {
	background-image:url(../images/botoes_06.jpg);
	background-repeat:repeat-y;
}
#formAnalise p {
	padding-bottom:15px;
}
#textoExplicativoAnalise {
	margin-top:30px;
	margin-bottom:20px;
}
#tabGeral td {
	padding:3px;
	color:#2b2b2b;
}
/* PASSOS */
#menuLateralPassos {
	width:250px;
	float:left;
	margin-top:35px;
}
#menuLateralPassos p {
	padding:5px 0;
}
#internaMenuPassos {
}
#internaMenuPassos select {
	width:225px;
	font-size:12px;
}
#internaMenuPassos input {
	width:210px;
	font-size:12px;
}
#internaTopDados {
	background-image:url(../images/43.jpg);
	background-repeat:no-repeat;
	width:248px;
	height:7px;
}
#internaInterDados {
	background-image:url(../images/44.jpg);
	width:228px;
	background-repeat:repeat-y;
	padding:0 10px
}
#rodapeInternaDados {
	background-image:url(../images/45.jpg);
	width:248px;
	height:7px;
	background-repeat:no-repeat;
}
.linhaPassos {
	height:1px;
	background-color:#c7cdda;
	margin-bottom:5px;
}
.espacoLinhas {
	margin-bottom:5px;
}
#monstraTituloAnalise {
	font-size:19px;
	color:#062a66;
	line-height:25px;
	margin:5px 0 10px 0;
}
#passo_passo {
	height:60px;
	position:relative;
}
#passo_passo p {
	padding:3px 0;
}
#passo1 {
	width:180px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu1.jpg);
	background-position:0 0;
}
#passo1:hover {
	width:180px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu1.jpg);
	background-position:0 -70px;
	display:block;
	cursor:pointer;
}
#passo2 {
	width:174px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu2.jpg);
	background-position: 0 0;
	left:184px;
}
#passo2:hover {
	width:174px;
	height:70px;
	position:absolute;
	left:184px;
	display:block;
	background-image:url(../images/menu2.jpg);
	background-position: 0 -70px;
	cursor:pointer;
}
#passo3 {
	width:129px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu3.jpg);
	background-position:0 0;
	left:363px;
}
#passo3:hover {
	width:129px;
	height:70px;
	position:absolute;
	left:363px;
	display:block;
	cursor:pointer;
	background-image:url(../images/menu3.jpg);
	background-position:0 -70px;
}
#passo4 {
	width:105px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu4.jpg);
	background-position:0 0;
	left:497px;
}
#passo4:hover {
	width:105px;
	height:70px;
	position:absolute;
	left:497px;
	display:block;
	background-image:url(../images/menu4.jpg);
	background-position:0 -70px;
	cursor:pointer;
}
#passo5 {
	width:105px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu5.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	left:607px;
}
#passo5:hover {
	width:105px;
	height:70px;
	position:absolute;
	display:block;
	left:607px;
	cursor:pointer;
	background-image:url(../images/menu5.jpg);
	background-repeat:no-repeat;
	background-position:0 -70px;
}
#passo1Ativo {
	width:180px;
	height:70px;
	background-image:url(../images/menu1.jpg);
	background-position:0 -70px;
	position:absolute;
}
#passo2Ativo {
	width:174px;
	height:70px;
	background-image:url(../images/menu2.jpg);
	background-repeat:no-repeat;
	background-position: 0 -70px;
	position:absolute;
	left:184px;
}
#passo3Ativo {
	width:129px;
	height:70px;
	position:absolute;
	display:block;
	left:363px;
	background-image:url(../images/menu3.jpg);
	background-position: 0 -70px;
	background-repeat:no-repeat;
}
#passo4Ativo {
	width:105px;
	height:70px;
	position:absolute;
	left:497px;
	background-image:url(../images/menu4.jpg);
	background-repeat:no-repeat;
	background-position: 0 -70px;
}
#passo5Ativo {
	width:105px;
	height:70px;
	position:absolute;
	background-image:url(../images/menu5.jpg);
	background-repeat:no-repeat;
	background-position: 0 -70px;
	left:607px;
}
#chamadaPagina {
	padding:20px 0;
}
#dadosExplicativos {
	padding:0 15px;
	margin-bottom:0px;
}
#prioridadeVermelha {
	width:500px;
	margin:auto;
	padding:5px 0;
	text-align:center;
	border:1px solid #ff0707;
	background-color:#fdefe4;
	font-size:15px;
	color:#3a3a3a;
	margin-top:20px;
}
#prioridadeLaranja {
	width:500px;
	margin:auto;
	padding:5px 0;
	text-align:center;
	border:1px solid #ff0707;
	background-color:#f7c55b;
	font-size:15px;
	color:#3a3a3a;
	margin-top:20px;
}
#prioridadeAmarela {
	width:500px;
	margin:auto;
	padding:5px 0;
	text-align:center;
	border:1px solid #ff0707;
	background-color:#ffcb05;
	font-size:15px;
	color:#3a3a3a;
	margin-top:20px;
}
#falhaMenu {
	width:70px;
	float:left;
	padding:15px 0;
}
#criticidadeVermelha {
	width:128px;
	float:right;
	margin:5px 0 10px 0;
}
#gravadoSucesso {
	background-image:url(../images/sinalOK2.png);
	background-repeat:no-repeat;
	width:585px;
	height:27px;
	margin-top:20px;
	color:#000;
	font-weight:bold;
	padding:18px 0 0 75px;
}
#erroSistema {
	background-image:url(../images/sinalErro2.png);
	background-repeat:no-repeat;
	width:585px;
	height:27px;
	margin-top:20px;
	color:#000;
	font-weight:bold;
	padding:18px 0 0 75px;
}

#gravadoSucesso2 {
	background-image:url(../images/sinalOK2.png);
	background-repeat:no-repeat;
	width:585px;
	height:27px;
	margin-bottom:15px;
	color:#000;
	font-weight:bold;
	padding:18px 0 0 75px;
}
#causaEfeitoDiagrama {
	width:690px;
	height:301px;
	background-image:url(../images/diagrama.jpg);
	background-repeat:no-repeat;
	position:relative;
}
#causaEfeitoDiagrama textarea {
	width:157px;
	height:83px;
	border:none;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
#ajudaCausa1 {
	width:12px;
	height:12px;
	position:absolute;
	top:22px;
	left:68px;
}
#inputCausa1 {
	width:157px;
	height:83px;
	position:absolute;
	top:40px;
	left:8px;
}
#ajudaCausa2 {
	width:12px;
	height:12px;
	position:absolute;
	top:12px;
	left:276px;
}
#inputCausa2 {
	width:157px;
	height:83px;
	position:absolute;
	top:30px;
	left:181px;
}
#ajudaCausa3 {
	width:12px;
	height:12px;
	position:absolute;
	top:22px;
	left:405px;
}
#inputCausa3 {
	width:157px;
	height:83px;
	position:absolute;
	top:40px;
	left:352px;
}
#ajudaCausa4 {
	width:12px;
	height:12px;
	position:absolute;
	top:177px;
	left:62px;
}
#inputCausa4 {
	width:157px;
	height:83px;
	position:absolute;
	top:115px;
	left:523px;
}
#ajudaCausa5 {
	width:12px;
	height:12px;
	position:absolute;
	top:186px;
	left:266px;
}
#ajudaCausa6 {
	width:12px;
	height:12px;
	position:absolute;
	top:179px;
	left:443px;
}
#inputCausa5 {
	width:157px;
	height:83px;
	position:absolute;
	top:197px;
	left:8px;
}
#inputCausa6 {
	width:157px;
	height:83px;
	position:absolute;
	top:207px;
	left:181px;
}
#inputCausa7 {
	width:157px;
	height:83px;
	position:absolute;
	top:197px;
	left:353px;
}
#tabPQ td {
	border-bottom:1px dashed #888d98;
	padding:15px 5px;
}
.round {
	width:65px;
	float:left;
	font-size:14px;
	color:#072e70;
	padding:5px 0 0 2px;
}
.campoRound {
	width:600px;
	float:right;
	padding-right:5px;
}
.hipoteseEsq {
	width:450px;
	float:left;
	margin-top:5px;
}
.hipoteseEsq textarea {
	width:186px;
	height:44px;
}
.hipotese1 {
	width:220px;
	float:left;
}
.hipotese2 {
	width:220px;
	float:right;
}
.hipoteseDir {
	width:220px;
	float:right;
	margin-top:5px;
}
.hipoteseDir textarea {
	width:186px;
	height:44px;
}
#listaAcoes {
	margin-bottom:20px;
}
#btnAlterarAnalise {
	width:128px;
	margin-top:10px;
}
#btnEdit {
	width:15px;
	float:right;
}
#acertoEditAnalise {
	margin:10px auto;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#000;
	background-color:#F0FFF4;
	border:1px solid #558a0f;
	padding:7px;
}
/* FIM ANÁLISE */
/* DADOS USUÁRIOS */
#dadosAcesso {
	width:415px;
	float:left;
	margin-top:20px;
}
#fotoMarca {
	width:265px;
	float:right;
	margin-top:20px;
}
/* USUÁRIOS */
#menuAjuda {
	padding:15px;
}
#menuAjuda ul {
	padding:0;
	margin:0 0 20px 0;
}
#menuAjuda ul li {
	list-style:none;
	display:inline;
	background-color:#ebf1fd;
	border:1px solid #40618c;
	padding:5px;
	font-weight:bold;
	color:#000;
}
#chamadaInput {
	padding-bottom:20px;
	font-size:14px;
}
#acerto {
	width:590px;
	height:30px;
	background-image:url(../images/sinalOK2.png);
	background-repeat:no-repeat;
	margin:auto;
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding:15px 0 0 70px;
}
#erro {
	width:590px;
	height:30px;
	background-image:url(../images/sinalErro2.png);
	background-repeat:no-repeat;
	margin:auto;
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding:15px 0 0 70px;
}
#sairSistema {
	width:590px;
	height:27px;
	background-image:url(../images/sinalAlerta2.png);
	background-repeat:no-repeat;
	margin:55px auto;
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding:18px 0 0 70px;
}
#sairSistema2 {
	width:590px;
	height:27px;
	background-image:url(../images/sinalAlerta2.png);
	background-repeat:no-repeat;
	margin:15px auto 15px auto;
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding:18px 0 0 70px;
}
.clicSim {
	padding:15px;
}
.clicNao {
	padding-left:15px;
}
.btnAcaoInserir {
	width:101px;
	height:30px;
	background-image:url(../images/inserirAcao.jpg);
	border:none;
	cursor:pointer;
}
.btnEnviar {
	width:67px;
	height:30px;
	background-image:url(../images/btnEnviar.jpg);
	border:none;
	cursor:pointer;
}
.dcontexto p {
	padding:5px 0;
}
a.dcontexto {
	position:relative;
	padding:0;
	text-decoration:none;
	z-index:24;
}
a.dcontexto:hover {
	background:transparent;
	z-index:25;
}
a.dcontexto span {
	display: none
}
a.dcontexto:hover span {
	display:block;
	position:absolute;
	width:230px;
	top:0px;
	left:30px;
	padding:5px 10px;
	border:1px solid #FFF09C;
	background:#FFF6C3;
	color:#000;
	text-align:left;
}
.btnDuvida {
	padding-left:10px;
}
#tabEmpresa {
	padding:15px;
}
#tabEmpresa td {
	padding:3px;
}
#alterarFoto {
	margin-top:57px;
}
.espacoBtn {
	padding:0 0 0 40px;
}
#alertaDeleta {
	background-image:url(../images/sinalAlerta2.png);
	background-repeat:no-repeat;
	width:585px;
	height:27px;
	color:#000;
	font-weight:bold;
	padding:18px 0 0 75px;
}
div.graph {
	width: 248px;
	height: 160px;
	text-align:left;
	
}
#espacoGrafico{
	height:15px;	
}
#internoEnviaArquivo{
	height:100px;
	background-color:#eff7ff;	
}
#teste{
	overflow:hidden;
	margin-left:10px;	
}
#espacoForm{
	padding-top:15px;
}
.btnSalvarAnalise{
	
}
#btnsEsquerda{
	width:300px;
	float:left;
}
#btnsDireita{
	width:300px;
	float:right;
}

#chamadaPagina2 {
	width:475px;
	float:left;
	padding:20px 0;
	
}
#link_5_pq{
	width:200px;
	float:right;
	text-align:right;
	padding:40px 0 0 0 ;
	
}
#dadosExplicativos {
	padding:0 15px;
	margin-bottom:0px;
}
#btnsEsquerda{
	width:300px;
	float:left;
}
#btnsDireita{
	width:300px;
	float:right;
}
#btnRelatorio{
	width:137px;
	float:left;
}
#btnExcluirAnalise{
	width:128px;
	float:right;
	padding-right:30px;
}

.btnRelatorio {
	background-image:url(../images/B_relatorio.jpg);
	background-position:0 0;
	width:137px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
	display:block;
}
.btnRelatorio:hover {
	background-image:url(../images/B_relatorio.jpg);
	width:137px;
	height:30px;
	background-position:0 -30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
}
.btnExcluiAnalise {
	background-image:url(../images/B_excluir.jpg);
	background-position:0 0;
	width:128px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
}
.btnExcluiAnalise:hover {
	background-image:url(../images/B_excluir.jpg);
	width:128px;
	height:30px;
	background-position:0 -30px;
	border:none;
	cursor:pointer;
	margin-left:15px;
}


#buscaAnalise{
	width:180px;
	position:absolute;
	left: 793px;
	top: 73px;
}
#inputBuscaLeft{
	width:150px;
	float:left;	
	margin:5px 0 0 5px;
}
#inputBuscaLeft input{
	width:135px;
	height:15px;
	margin:0;
	padding:0;
	border:none;
	background-color:#FFF;
	
}
#btnBuscaRight{
	width:20px;
	height:20px;
	float:right;
	margin-top:3px;	
}
.btnBuscaAnalise{
	width:20px;
	height:20px;
	padding:0;
	margin:0;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
#iframe{
	margin-left:10px;	
}
#buscaResult{
	margin-top:15px;	
}
#mostraTodasAnalises{
	padding-bottom:10px;
	text-align:right;	
}
.mostra_busca{
	width:100px;
	font-size:11px;
	border-bottom:1px solid #CCC;
	padding:2px;
	margin-bottom:15px;	
}
.filtroAtivo{
	width:100px; 
	margin-right:6px;
	font-size:11px;
	background-color:#F5F5F5;
	border:1px solid #CCC;
	padding:4px;	
}
#buscaPorFiltro{
	padding: 0 0 15px 0;	
}
#chamadaInternaAcoes{
	padding-top:25px;
	padding-bottom:10px;	
}
.imgClose{
	padding:0 0 0 5px;	
}
#mostraLoader{
	position:absolute;
	visibility:hidden;
	background-color:#f2f6ff;
	width:250px;
	height:100px;
	border:1px solid #062963;
	top:40px;
	left:100px;
	text-align:center;	
}

#dadosEsq {
	width:260px;
	float:left;
	margin-top:30px;
}
#dadosDir {
	width:711px;
	height:539px;
	float:right;
	padding-top:30px;
}
#dadosDirInterna {
	background-image:url(../images/site/fundoDadosCadastrais.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:711px;
	height:539px;
	padding-top:30px;
}

.btnProsseguir_2 {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 0;
}
.btnProsseguir_2:hover {
	width:109px;
	height:30px;
	background-image:url(../images/B_prosseguir.jpg);
	border:none;
	cursor:pointer;
	border:none;
	padding:0;
	margin:0;
	background-position:0 -30px;
}

#tabGeral .tbl-contrato {
    border-collapse: collapse;
}

#tabGeral .tbl-contrato td, #tabGeral .tbl-contrato th {
    border: 1px solid lightgray;
    padding: 5px;
    text-align: center;
}

#tabGeral .tbl-contrato th {
    background: none repeat scroll 0 0 #DFE7FA;
    font-weight: bold;
}

#new_menu {
	width:100%;
	height:101px;
        
	background-image:url(../images/bgMenu2.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	margin-top: -31px;
	top:133px;
}
#new_menu_div {
	width:971px;
	margin:auto;
	text-align:right;
	padding-right:9px;
}

ul.new_menu_ul, ul.new_menu_ul li, ul.new_menu_ul ul {
	list-style: none;
	margin: 0;
        font-weight: bold;
        padding: 5px 10px 6px 10px;
}
ul.new_menu_ul {
	width:794px;
	position: relative;
	z-index: 597;
	float: right;/*color:#FFF;*/
}
ul.new_menu_ul li.menu > a {
        color: #000;
        text-decoration: none;
        height: 20px;
        text-shadow: #fff 0.1em 0.1em 0.2em;
}
ul.new_menu_ul li.menu > a:hover {
        color: #fff;
        text-decoration: underline;
        text-shadow: #000 0.1em 0.1em 0.2em;
}
.div_item_menu{
    overflow:hidden;
    float:left;
    -webkit-border-top-left-radius:20px;-moz-border-radius-topleft:20px;border-top-left-radius:20px;
    -webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;
}

.div_item_menu:hover > li{
        color: #fff !important;
	cursor: default;
        background: #598403 !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #598403 0%, #92C52C 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#598403), color-stop(100%,#92C52C)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #598403 0%,#92C52C 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #598403 0%,#92C52C 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #598403 0%,#92C52C 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom,  #598403 0%,#92C52C 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#598403', endColorstr='#92C52C',GradientType=0 ) !important; /* IE6-9 */
        border-top: 1px #92C52C solid !important;
        border-left: 1px #92C52C solid !important;
        border-right: 1px #92C52C solid !important;
}
.div_item_menu_azul:hover > li{
        color: #fff !important;
	position: relative;
	z-index: 599;
	cursor: default;
        background: #2C538F !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #2C538F 0%, #7ACCE9 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C538F), color-stop(100%,#7ACCE9)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom,  #2C538F 0%,#7ACCE9 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C538F', endColorstr='#7ACCE9',GradientType=0 ) !important; /* IE6-9 */
        border-top: 1px #7ACCE9 solid !important;
        border-left: 1px #7ACCE9 solid !important;
        border-right: 1px #7ACCE9 solid !important;
}
ul.new_menu_ul li.menu {
        -webkit-border-top-left-radius:20px;-moz-border-radius-topleft:20px;border-top-left-radius:20px;
        -webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;
        box-shadow: 1px -1px 2px #888888;
	float: left;
	vertical-align: middle;
	zoom: 1;
        margin: 0 1px;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        border-top: 1px #000 solid;
        border-left: 1px #000 solid;
        border-right: 1px #000 solid;

}
ul.new_menu_ul > li#new_menu_cadastra_analise {
        background: #DFE8F7 !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #DFE8F7 0%, #ffffff 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DFE8F7), color-stop(100%,#ffffff)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #DFE8F7 0%,#ffffff 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #DFE8F7 0%,#ffffff 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #DFE8F7 0%,#ffffff 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom,  #DFE8F7 0%,#ffffff 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFE8F7', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
}

ul.new_menu_ul > li.hover, ul.new_menu_ul > li:hover, ul.new_menu_ul li.ativo {
        color: #fff !important;
	z-index: 599;
	cursor: default;
        background: #598403; /* Old browsers */
        background: -moz-linear-gradient(top,  #598403 0%, #92C52C 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#598403), color-stop(100%,#92C52C)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #598403 0%,#92C52C 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #598403 0%,#92C52C 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #598403 0%,#92C52C 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #598403 0%,#92C52C 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#598403', endColorstr='#92C52C',GradientType=0 ); /* IE6-9 */
        border-top: 1px #92C52C solid !important;
        border-left: 1px #92C52C solid !important;
        border-right: 1px #92C52C solid !important;
        
}
ul.new_menu_ul > li#new_menu_cadastra_analise:hover {
        background: #2C538F !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #2C538F 0%, #7ACCE9 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C538F), color-stop(100%,#7ACCE9)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #2C538F 0%,#7ACCE9 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom,  #2C538F 0%,#7ACCE9 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C538F', endColorstr='#7ACCE9',GradientType=0 ) !important; /* IE6-9 */
        border-top: 1px #7ACCE9 solid !important;
        border-left: 1px #7ACCE9 solid !important;
        border-right: 1px #7ACCE9 solid !important;
        
}
ul.new_menu_ul div li > ul {
	visibility: hidden;
	position: absolute;
	z-index: 599;
        margin-top: -1px;
        margin-left: -20px;
}
.div_item_menu:hover > li ul{
        visibility: visible;
}
ul.new_menu_ul ul li {
	float: none;
}
ul.new_menu_ul ul ul {
	/*top: 1px;*/
	left: 99%;
}
.div_item_menu li a:hover > ul {
	visibility: visible;
}
ul.new_menu_ul ul {
	padding-top:5px;
}
#bordaSubMenu {
	width:187px;
	border:1px solid #CCC;
}
ul.new_menu_ul li.sub {
	width:177px;
	text-align:left;
	padding: 5px;
	position:relative;
	background-color:#f6f1e8;
}
ul.new_menu_ul li.sub.hover, ul.new_menu_ul li.sub:hover {
	width:177px;
	text-align:left;
	padding: 5px;
	position:relative;
	background-color:#CCC;
}
ul.menuPesquisa .itemMenuPesquisa{
        width: auto;
	height:12px;
	float: left;
	top:5px;
	left:5px;
	background-image:url(../images/iconeSelect.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	cursor:pointer;
}
ul.menuPesquisa li#unidadeFabril:hover {
	background-image:url(../images/iconeSelectAtivo.jpg);
	color:#062c6b;
	cursor:pointer;
}
.boxConteudoDireito, .boxConteudoDireitoSemMargin {
    width: 100%;
    float:left;
    border: 1px #828282 solid;
}

.boxConteudoDireito {
    margin-top: 35px;
}

.tituloConteudoDireito{
    
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-top: 9px;
    text-align: center;
    color: #072E70;
    background-color: #DFE7FA;
    z-index: 1000;
}
.conteudoDireito{
    padding: 10px;
}
fieldset{
    border: 1px #828282 dotted;
    border-collapse: collapse;
}
legend{
    font-weight: bold;
}
.wdt-12-12{
    width: 98%;
}
.campo-label{
    padding: 5px;
    font-weight: bold;
}
.campo-6-12, .campo-3-12{
    float: left;
    padding: 0 5px 0 5px;
}
.campo-6-12{
    width: 48%;
}
.wdt-6-12{
    width: 47%;
}
.wdt-4-12{
    width: 33%;
}
.campo-3-12{
    width: 23.3%;
}
.wdt-3-12{
    width: 25%;
}
.wdt-20pc {
    width: 20%;
}
.wdt-2-12{
    width: 16.6%;
}
.wdt-15-12{
    width: 12.5%;
}
.wdt-1-12{
    width: 8.3%;
}

.fleft{
    float:left;
}

.div_tabelaResultado{
    float: left;
    width: 45%;
}

.div_graficoResultado{
    margin: 0 auto;
    min-height: 300px;
    float: left;
    width: 55%;
}
.tabelaResultado, .tabelaResultado td, .tabelaResultado th{
    border: 1px #DFE7FA solid;
    border-collapse: collapse;
    border-spacing: 1px;
}
.tabelaResultado td, .tabelaResultado th{
    padding: 3px;
    height: 20px;
}
.tabelaResultado{
    width: 100%;
}
tr.zebra{
    background-color: #F2F2F2;
}
.tabelaResultado thead, .tabelaResultado tfoot{
    background-color: #DFE7FA;
}
.tabelaResultado thead tr th, .tabelaResultado tfoot tr td{
    font-weight: bold;
}
td.jqplot-table-legend {
    padding:2px !important;
}
.conteudo{
    padding: 1%;
    float:left;
    width: 98%;
}
.setor .conteudo{
    display:none;
}
.setor .tituloConteudoDireito:hover{
    cursor: pointer;
    background-color: #BEC5D8;
}
.div_erroResultado{
    display:none;
}

.boxPesquisa {
    padding:10px auto;
    text-align: left;
    background-image: url("../images/botoes_06.jpg");
    background-repeat: repeat-y;
}
.boxPesquisaDdl{
    padding: 10px auto 0 auto;
}
.boxPesquisa select{
    margin: 3px;
}


#tudo #version {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    right: 352px;
    top: 37px;
}