@charset "utf-8";
/* CSS Document */
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color:#000;
	background-color:#FFF;
}
img {
	border:0;
}
.clear {
	clear:both;
}
#uploadEsq {
	padding-bottom:10px;
}
#images-list {
	list-style:	none;
	margin:0;
}
#uploadImg {
	width:210px;
}
#status {
	padding:10px 0;
}
#status .progress {
	background:white url(../images/upload/progress.gif) no-repeat;
	background-position:+50% 0;
	margin-right:0.5em;
}
#status .progress-text {
	font-size:10px;
}
#images-list li.file {
	background-image:url(../images/upload/imagem.png);
	background-repeat: no-repeat;
	background-position: 4px 4px;
}
#images-list li.file.file-uploading {
	background-image:url(../images/upload/uploading.gif);
	border:1px dashed #CCC;
	padding:5px;
}
#images-list li.file.file-success {
	background-image:url(../images/upload/uploadY.gif);
}
#images-list li.file.file-failed {
	background-image:url(../images/upload/uploadN.gif);
}
#images-list li.file .file-name {
	font-size:10px;
	margin-left:40px;
	display:block;
	clear:left;
	line-height:40px;
	height:56px;
}
#images-list li.file .file-size {
	font-size:10px;
	line-height:18px;
	float:right;
	margin-top:2px;
	margin-right:6px;
}
#images-list li.file .file-info {
	display:block;
	margin-left:44px;
	font-size:10px;
	line-height:18px;
}
#images-list li.file .file-remove {
	clear:right;
	float:right;
	line-height:18px;
	margin-right:6px;
}
.hide {
	display: none;
}
#loading {
	padding:30px;
	text-align:center;
}
#loading img {
	vertical-align:middle;
}
#imagemMaster {
	padding-top:25px;
}
#tabGeral td {
	padding:5px;
}